
header{
    height: 100%;
    width: 100%;
    background-color: rgb(72, 187, 187);
    position: sticky;
    top: 10px;
}
.navbar{
    height: 100%;
    width: 100%;
    background-color: rgb(21, 202, 141);
}
body{
    height: 100%;
    width: 100%;
}
footer{
    height: 100%;
    width: 100%;
    background-color: rgb(139, 201, 170);
    background: linear-gradient(90deg, rgb(161, 161, 161) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

article{
    height: 100%;
    width: 100%;
    background-color: rgba(106, 202, 231, 0.945);
}
section{
    height: 100%;
    width: 100%;
    background-color: rgb(113, 200, 206);
}
